@import 'bootstrap/dist/css/bootstrap.css';
@import url(https://fonts.googleapis.com/css2?family=Montserrat);

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: rgb(2,108,128);
  background: linear-gradient(0deg, rgba(141,180,173,1) 0%, rgba(2,108,128,1) 100%);
  background-attachment: fixed;
  padding: 20px;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  border-color: white;
  border-radius: 50px;
  border-style: solid;
}

/* button styling */
.btn {
  border-radius: 25px;
}

.btn-orange {
  border-radius: 25px;
  background-color: #ed6335;
  border-style: solid;
  border-color: #ed6335;
  border-width: 2px;
}

.btn-green {
  border-radius: 25px;
  background-color: #026c80;
  border-style: solid;
  border-color: #026c80;
  border-width: 2px;
}

.button-container {
  display: flex;
  direction: row;
  justify-content: space-evenly;
}
/* page styling */
.page-container {
  padding: 35px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  row-gap: 20px;
  padding: 25px;
}

.cards-container-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  row-gap: 20px;
  padding: 25px;
}

.cards-container-journalentry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  row-gap: 15px;
  padding: 25px;
}

.details-head {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* card styling */
.card-head-open {
  display: flex;
  flex-direction: row;
  color: #064c72; 
  gap: 10px;
}

.card-head-closed {
  display: flex;
  flex-direction: row;
  color: white; 
  gap: 10px;
}

.not-completed {
  border-radius: 25px;
  border-width: 0px;
  box-shadow: 10px 10px #14213d;
}

.completed {
  background-color: #026c80;
  color: white;
  border-radius: 25px;
  border-width: 2px;
  box-shadow: 10px 10px #14213d;
}
